<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SettingsManager.RecentFilesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SettingsManager.FileParserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SettingsManager.StyleManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SettingsManager.AreaEditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SettingsManager.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SettingsManager.StyleManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SettingsManager.AreaEditor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SettingsManager.RecentFilesSettings>
            <setting name="RecentROMs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RecentModelFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </SettingsManager.RecentFilesSettings>
        <SettingsManager.FileParserSettings>
            <setting name="LoaderModule" serializeAs="String">
                <value>Assimp</value>
            </setting>
            <setting name="UpAxis" serializeAs="String">
                <value>Y</value>
            </setting>
        </SettingsManager.FileParserSettings>
        <SettingsManager.StyleManagerSettings>
            <setting name="AlwaysKeepBlueColors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MetroColorParams" serializeAs="String">
                <value>White, #80397B</value>
            </setting>
        </SettingsManager.StyleManagerSettings>
        <SettingsManager.AreaEditorSettings>
            <setting name="DefaultCameraMode" serializeAs="String">
                <value>ORBIT</value>
            </setting>
            <setting name="DefaultWindowMode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="RibbonControlExpanded" serializeAs="String">
                <value>True</value>
            </setting>
        </SettingsManager.AreaEditorSettings>
        <SettingsManager.GeneralSettings>
            <setting name="AutoUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntegerValueMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ActionIfUpdatePatches" serializeAs="String">
                <value>None</value>
            </setting>
        </SettingsManager.GeneralSettings>
        <SettingsManager.StyleManager>
            <setting name="MetroColorParams_BaseColor" serializeAs="String">
                <value />
            </setting>
            <setting name="MetroColorParams_CanvasColor" serializeAs="String">
                <value />
            </setting>
            <setting name="MetroColorParams_ThemeName" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysKeepBlueColors" serializeAs="String">
                <value />
            </setting>
            <setting name="Einstellung" serializeAs="String">
                <value>True</value>
            </setting>
        </SettingsManager.StyleManager>
        <SettingsManager.AreaEditor>
            <setting name="DefaultCameraMode" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultWindowMode" serializeAs="String">
                <value />
            </setting>
            <setting name="RibbonControlExpanded" serializeAs="String">
                <value>True</value>
            </setting>
        </SettingsManager.AreaEditor>
    </userSettings>
</configuration>
